/* Put your custom styles here and run `npm start` from the "src" directory on */
.thumbnail-image {
  outline: 1px solid #000000;
  max-width: 200px;
}

.bold {
  font-weight: 400;
  letter-spacing: -2px;
}

body > header {
  display: none;
}